h1 {color:red;
}
h2 {color:blueviolet;
}
h3 {color: rgb(4, 6, 32);
}
h1 {text-align: center;
}
h3 {border-color: brown;
    border-style: solid;
    border-width: 5px;
}
h4 {font-size: 150%;}

h4 {text-align: center;
}
h3 {margin-left: 70%;
}

h3 {padding-right: 40%;
}


